{% load static %}
<footer id="footer" class="footer dark-background">
    <div class="container">
        <h3 class="sitename">Personal</h3>
        <p>{{quote}}</p>
        <div class="social-links d-flex justify-content-center">
            {% for media_app in social_media_apps %}
            <a href="{{media_app.social_media_url}}"><i class="bi bi-{{media_app.social_media_app}}"></i></a>
            {% endfor %}
        </div>
<!--        <div class="container">-->
<!--            <div class="copyright">-->
<!--                <span>Copyright</span> <strong class="px-1 sitename">Personal</strong> <span>All Rights Reserved</span>-->
<!--            </div>-->
<!--            <div class="credits">-->
<!--            </div>-->
<!--        </div>-->
    </div>
</footer>
